:root {
    /* COLORS */
    --color-primary: #1C422D;
    --color-secondary: #3D7C5A;
    --color-ic: #EE6055;
    --color-text: #898989;
    --color-light: #f4f4f4;

    /* FONTS */
    --font-primary: 'Open Sans', Helvetica, Arial, sans-serif;
    --font-bold: 700;
    --font-light: 400;
    --font-size-text: 18px;
    --font-size-title: 20px;
    --font-size-section-title: 48px;

    /* SIZE */
    --size-primary: 25px;
    --size-double: calc(var(--size-primary) * 2);
    --size-half: calc(var(--size-primary) / 2);

    --margin-primary: var(--size-primary);
    --padding-primary: var(--size-primary);
    --padding-double: var(--size-double);
    --padding-half: var(--size-half);
    --height-primary: 80px;

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 0;
}


a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: var(--font-primary);
}

@media (min-width: 500px){
    .navbar {
        height: var(--height-primary);
    }

    .navbar-nav a {
        background-color: var(--color-light);
    }

}

/* nav */

.navbar {
    z-index: 10000;
}

.navbar-brand {
    font-weight: var(--font-bold);
    color: var(--color-secondary);
}

.navbar {
    font-size: var(--font-size-text);
    height: var(--height-primary);
}
.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav a {
    margin: 0 5px;
    padding: 25px 10px;
    color: var(--color-secondary);
}

.navbar-nav a:hover {
    background-color: var(--color-secondary);
    color: var(--color-light);
}

.navbar-nav .nav-link.active {
    background-color: var(--color-secondary);
    color: var(--color-light);
    font-weight: var(--font-bold);
}

/*  */

/* hero page */

.hero-page {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.hero-page .the-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
    z-index: 1000;
}

.hero-page .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(1, 1, 1, 0.6);  
}

.hero-page .the-content .title {
    font-size: var(--font-size-section-title);
    margin: 10px;
}

.hero-page .the-content .btn {
    background-color: var(--color-primary);
    padding: 15px 40px;
    border: none;
    font-size: 30px;
}

.hero-page .the-content .btn i {
    margin-left: 5px;
}

/* form */

.form-dv {
    margin-top: 100px;
    margin-bottom: 100px;
}
.search-form {
    background-color: #fff;
    padding: var(--padding-primary);
    border-radius: 23px;
    box-shadow:   0px 0px 15px rgba(73, 73, 73, 0.3);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 80%;
    margin: 0 auto;
}

.search-form .form-group {
    flex: 1 25%;
    position: relative;
}

.search-form .form-group .form-control {
    padding: var(--padding-half);
    border-radius: var(--size-half);
    border-color: var(--color-secondary);
    display: flex;
    align-items: center;
    
    padding-left: var(--padding-double);
}

.search-form .form-group .form-control::placeholder{
    color: var(--color-text);
}

.search-form .form-group button {
    border: none;
    width: 100%;
    padding: 8px;
    border-radius: var(--size-half);
    background-color: var(--color-ic);
    color: var(--color-light);
    font-weight: var(--font-bold);
    font-size: var(--font-size-title);
}

.search-form .form-group i {
    position: absolute;
    top: 15px;
    left:  15px;
    font-size: var(--font-size-text);
    color: var(--color-ic);
}

.search-form p span {
    color: var(--color-secondary);
}
/*  */

/* help-section */
.help-section {
    background-color: var(--color-secondary);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-section .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: var(--font-size-section-title);
    color: var(--color-light);
}

.section-subtitle {
    font-size: var(--font-size-title);
    color: var(--color-light);
}

.help-section .form-group {
    width: 40%;
    position: relative;
    display: flex;
    align-items: center;
}

.help-section .form-group .form-control {
    padding: 15px 20px;
    border-radius: 18px;
    background-color: #ffffff36;
    border: none;
}

.help-section .form-group .form-control::placeholder{
    color: #dddddd; 
}

.help-section .form-group .btn {
    position: absolute;
    right: 0;
    border-radius: 15px;
    margin-right: 10px;
    padding: 5px 35px;
    border: none;
    background-color: var(--color-ic);
}
/*  */

/* services */
#services {
    margin: 100px 0;
}

#services .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: none;
}

#services .card:hover {
    box-shadow: 0px 0px 15px rgba(73, 73, 73, 0.3);
}


#services .card i {
    margin-top: 10px;
    font-size: 65px;
    color: var(--color-ic);
}

#services .card p {
    color: var(--color-text);
}

.service-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/*  */

/* slider */
.section-gray {
    background-color: var(--color-secondary);
    padding: 50px 0;
}

.section-gray .row {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.level-slider-item .overlay {
    background-image: linear-gradient(#fafafa00,#11111150);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 23px;
}



.level-slider-item {
    position: relative;
}

.level-slider-img {
    position: relative;
}

.level-slider-img img {
    width: 100%;
    height: 300px;
    border-radius: 23px;
}

.level-slider-item-container {
    position: absolute;
    bottom: 0;
    padding: 20px;
    display: flex;
    align-items: center;
}

.level-slider-item-container .level-slider-dec{
    color: var(--color-light);
}

.level-slider-item-container a.btn {
    padding: 10px 35px;
    background-color: #ffffff60;
    border: none;
    border-radius: 23px;
    font-size: var(--font-size-text);
}


.star-places-body a {
    display: flex;
    align-self: center;
    margin-bottom: 10px;
    gap: 20px;
    background-color: var(--color-light);
    border-radius: 23px;
    transition: all .2 ease-in;
}

.star-places-body a:hover {
    background-color: #dddddd;
}

.star-places-body a .star-dec p{
    color: var(--color-text);
}


.star-places-body a .star-dec h4 {
    margin-top: 10px;
    font-weight: var(--font-bold);
    color: var(--color-secondary);
}


.star-places-body a img{
    border-radius: 23px 0 0  23px;
    width: 40%;
}


/*  */

/* contact */

#contact  {
    margin: 50px 0;
}

#contact .bg-co {
background-color: #3d7c5a1e;
padding: 50px;
border-radius: 23px;
} 

#contact .col-lg-6 iframe {
    width:100%;
    height: 100%;
}

.form-dv h2 {
    color: #3d7c5a85;
}
.form-dv span {
    color: #3d7c5ab0;
    text-align: end;
}

.form-dv .contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-dv .contact-form .form-control {
    margin-bottom: 20px;
}

.form-dv .contact-form input {
    background-color: transparent;
    border: none;
    padding: 10px;
    border-bottom: 2px solid #3d7c5a85;
}

.form-dv .contact-form input::placeholder {
    color: #3d7c5a85;
}

.form-dv .btn {
    background-color: #3d7c5a75;
    border: none;
    margin-top: 20px;
    padding: 8px 30px;
    float: right;
    border-radius: 20px;
    color: #3D7C5A;
    font-weight: var(--font-bold);
    font-size: var(--font-size-title);
}

.form-dv .btn i {
    margin-left: 5px;
}
/*  */

/* footer */
footer {
    background-color: var(--color-primary);
}

footer p {
    padding: var(--padding-primary);
    color: var(--color-light);
    font-size: var(--font-size-text);
    margin-bottom: 0;
    text-align: center;
}

footer p span {
    font-weight: var(--font-bold);
}